/* Carousel.css */
.carousel-container {
  max-width: 180rem;
  margin: 0 auto;
  overflow: visible;
}

/* Add gap between items (for react-slick we need padding) */
.slick-slide {
  padding: 0 0.8rem; /* small screens */
}

@media (min-width: 640px) {
  .slick-slide {
    padding: 0 1.2rem;
  }
}

@media (min-width: 1024px) {
  .slick-slide {
    padding: 0 2rem;
  }
}

/* Force equal-height slides in react-slick */
.slick-track {
  display: flex !important;
}

.slick-slide {
  height: auto !important;
  display: flex !important;
  flex-direction: column;
}

.slick-slide > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
